body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('image/sky.jpg');
    background-size: cover;
    cursor: default;
    scroll-behavior: smooth;
}

    body::-webkit-scrollbar {
        display: none;
    }

/* 
--purple:#8e44ad;
--red:#c0392b;
--orange:#f39c12;
--black:#333;
--white:#fff;
--light-color:#666;
--light-white:#ccc;
--light-bg:#f5f5f5;
--green: #4cbb17;
--border:.1rem solid var(--black);
--box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
*/

.container {
    /*background-color: red;*/
    padding: 50px;
    text-align: center;
    position: relative;
    margin: auto;
    text-align: center;
}

.inner-container {
    position: relative;
    /*background-color: #f5f5f5;*/
    background-color: rgba(245, 245, 245, .3);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

form {
    position: relative;
}

.form-content {
    background-color: #f5f5f5;
    padding: 15px;
    margin: 15px;
    position: relative;
    border-radius: 25px;
    transition: .4s;
    width: 366px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
}

    .form-content:hover {
        transform: translateY(-6px);
        transition: .4s;
    }

.btn {
    border: none;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    width: 100%;
}

    .btn:hover {
        background-color: #333;
        color: white;
        transition: .4s;
    }

.modify {
    background-color: #5193e5;
    color: white;
    transition: .4s;
}

.delete {
    background-color: #e73232;
    color: white;
    transition: .4s;
}

.cloud1-des {
    position: absolute;
    z-index: 0;
    width: 400px;
    right: 200px;
    transition: .4s;
}

    .cloud1-des:hover {
        transition: .4s;
        transform: translateX(8px);
    }

.cloud2-des {
    position: absolute;
    z-index: 0;
    width: 400px;
    left: 200px;
    transition: .4s;
}

    .cloud2-des:hover {
        transition: .4s;
        transform: translateX(-8px);
    }

h2.section {
    text-align: left;
    border-bottom: 3px solid white;
    margin: 80px;
    color: white;
}

hr.title {
    z-index: -2;
    border: 2px solid white;
    width: 500px;
}

td {
    text-align: justify;
    border: 1px solid black;
    padding: 10px;
    border: 2px solid black;
}

th {
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}

table {
    /*background-color: red;*/
    text-align: center;
    margin: auto;
}

.address {
    text-align: justify;
}

.data_header {
    transition: .4s;
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
    z-index: 10;
}

.data_row {
    transition: .4s;
    background-color: white;
}

    .data_row:hover {
        transition: .4s;
        transform: translateX(9px);
        background-color: #e5e5e5;
        /*color: white;*/
    }

.btn_section {
    display: flex;
    flex-wrap: wrap;
    /*background-color: blue;*/
    justify-content: flex-start;
    padding: 0;
    width: 130px;
}

.add_btn {
    background-color: #FFBB40;
    color: black;
    padding: 20px;
    width: 300px;
    cursor: pointer;
    transition: .4s;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    margin: 40px;
}

    .add_btn:hover {
        transition: .4s;
        background-color: #333;
        color: white;
        transform: translateY(-5px);
    }

.add_flight_form {
    display: none;
    padding: 30px;
    /*background-color: #f5f5f5;*/
    background-color: rgba(245, 245, 245, .3);
    margin: auto;
    border-radius: 25px;
    box-shadow: 1rem 1rem 1rem rgba(0,0,0,.1);
    border: none;
    transition: .4s;
    z-index: 3;
    justify-content: center;
    width: 500px;
}

.inputField {
    text-align: center;
}

h2 {
    text-align: center;
}

.flex-form {
    display: flex;
    /*background-color: red;*/
}

.inner-flex {
    padding: 20px;
    margin: auto;
    /*background-color: red;*/
}

.textField {
    transition: .4s;
    width: 190px;
    padding: 15px;
    border-radius: 25px;
    border: none;
    margin-top: 4px;
    background-color: #f5f5f5;
    outline: none;
}

    .textField:focus {
        border-radius: 8px;
        transition: .4s;
    }

        .textField:focus::placeholder {
            color: #f5f5f5;
            transition: .4s;
        }

#register_submit {
    padding: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    width: 470px;
    font-weight: 700;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    background-color: #FFBB40;
    transition: .4s;
}

    #register_submit:hover {
        transform: translateY(-6px);
        background-color: #333;
        color: white;
        transition: .4s;
    }

.address_section {
    padding: 20px;
    /*background-color: blue;*/
}

    .address_section .inputField input {
        width: 450px;
    }

.title-pi {
    border-bottom: 3px solid #333;
    text-align: left;
    color: #333;
}

.title-address {
    border-bottom: 3px solid #333;
    text-align: left;
    color: #333;
}

.search-section {
    position: relative;
}

.search_flight_field {
    padding: 20px;
    width: 200px;
    border: none;
    outline: none;
    border-radius: 25px;
    transition: .2s;
}

    .search_flight_field:focus::placeholder {
        transition: .2s;
        color: white;
    }

.search_flight_button {
    border: none;
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
    background-color: grey;
    transition: .4s;
    color: white;
}

    .search_flight_button:hover {
        background-color: #FFBB40;
        transition: .4s;
        color: black;
    }

.inputField {
    text-align: center;
}

.flex-form {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.textField {
    transition: .4s;
    width: 190px;
    padding: 15px;
    border-radius: 25px;
    border: none;
    margin-top: 4px;
    background-color: #f5f5f5;
    outline: none;
}

    .textField:focus {
        border-radius: 8px;
        transition: .4s;
    }

    .textField:focus::placeholder {
        color: #f5f5f5;
        transition: .4s;
    }

.inner-flex-form {
    display: flex;
    /*background-color: red;*/
    position: relative;
    margin: -20px;
}

    .inner-flex-form .inputField input {
        width: 190px;
    }

.inner-flex-content {
    padding: 20px;
    /*background-color: red;*/
}